*{
  border: 1px solid red;
}

/* //basic page layout */
.header{
  width:100%
}
.addAPlayListHeader{
  width:50%;
  display: inline-block;
}
.activePlayListsHeader{
  width:49%;
  float: right;
  display: inline-block;
}

.createNewPlayListContainer{
  width: 50%;
  display: inline-block;
}
.activePlayListContianer{
  width: 49%;
  display: inline-block;
}
.dailyEventsToBeAddedContainer{
  width: 49%;
  display: inline-block;
 margin: 0 auto;
}
.nameEvent{
  width: 50%;
  display: none;
}
.calendar{
  width: 50%;
  display: none;
}
.whatTime{
  width: 50%;
  display: none;
}
.slider{
  width: 50%;
  display: none;
}
.donebuttons{
  width: 50%;
  display: none;
}
.autoplay{
  text-align: center;
  width: 50%;
  display: none;

}
#autoplay{
  margin:0 auto;
}
#addEventToDay{
  display:block;
  margin: 20px auto;
  margin-bottom: 20px;

}

#submitPlayList{
  display: block;
  font-size: 36px;
  margin: 0 auto
}
#playlistInWaiting{
  width: 49%;
  float:right;
  text-align: center;

}
#activePlayListContianer{
  height: 100%;
  width: 49%;
  display: inline-block;
  float:right;
  display: flex;
  justify-content: center;

}
.activePlayLists{
  width: 49%;
  display: inline-block;
  float:right;
  text-align: center;
}
#addAnotherEvent{
  display:none;
}
#deleteAndStartOverButton{
  margin: 0 auto;
}
.albumImage{
  display: block;
}
.hide{
  display:none;
}
