body {
  font-family: 'Jura', sans-serif;
}
button{
  font-family: 'Jura', sans-serif;
  font-weight: bold;
  font-size: 13px;
  border-radius: 3px;
  margin-bottom: 5px;


}


button:hover{
  color: white;
  background-color: black;

}
/* *{
  border: 1px solid red;
} */

/* //basic page layout */
.header{
  width:100%
}
.addAPlayListHeader{
  width:50%;
  display: inline-block;
}
.activePlayListsHeader{

  width:47%;
  display: inline-block;
  padding: 2px;
  text-align: center;

}

.createNewPlayListContainer{
  text-align: center;
  width: 50%;
  display: inline-block;
  background-color: silver;
  border-radius: 5px;
  padding-bottom: 5px;
}


}
.dailyEventsToBeAddedContainer{
  width: 49%;
  display: inline-block;
 margin: 0 auto;
}
.nameEvent{
  width: 50%;
  display: none;
}
.calendar{
  width: 50%;
  display: none;
}
.whatTime{
  width: 50%;
  display: none;
}
.slider{
  width: 50%;
  display: none;
}
.donebuttons{
  width: 50%;
  display: none;
}
.autoplay{
  text-align: center;
  width: 50%;
  display: none;

}
#autoplay{
  margin:0 auto;
}
#addEventToDay{
  display:block;
  margin: 20px auto;
  margin-bottom: 20px;

}

#submitPlayList{
  display: block;
  font-size: 12px;
  margin: 0 auto
}
#playlistInWaiting{
  width: 49%;
  float:right;
  text-align: center;
  background-color: lightblue;
  border-radius: 5px;
  margin: 5px 5px;


}
#activePlayListContianer{
  height: 100%;
  width: 44%;
  display: inline-block;
  float:right;
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 10px;
  padding: 10px;
  overflow: scroll;

}
.activePlayLists{
  width: 49%;
  display: inline-block;
  float:right;
  text-align: center;
  border: 1px solid black;
}
#addAnotherEvent{
  display:none;
}
#deleteAndStartOverButton{
  margin: 0 auto;
}
.albumImage{
  display: block;
}
.hide{
  display:none;
}
#activePlayListContianer > button{
  display: inline-block;
}
.playlist{
  border:1px solid black;
  padding:5px;
  border-radius: 5px;
}
.dayDropDownContent{
  width: min-content;
}
