body {
  font-family: 'Jura', sans-serif;
}
button{
  font-family: 'Jura', sans-serif;
  font-weight: bold;
  font-size: 13px;
  border-radius: 3px;
  margin-bottom: 5px;


}


button:hover{
  color: white;
  background-color: rgb(192,192,192,.5)

}
/* *{
  border: 1px solid red;
} */

/* //basic page layout */
.header{
  width:100%
}
.addAPlayListHeader{
  width:50%;
  display: inline-block;
}
.activePlayListsHeader{

  width:47%;
  display: inline-block;
  padding: 2px;
  text-align: center;

}

.createNewPlayListContainer{
  text-align: center;
  width: 50%;
  display: inline-block;
  background-color: #494868;
  border-radius: 5px;
  padding-bottom: 5px;
  color:white;
  border: 1px solid white;

}



.dailyEventsToBeAddedContainer{
  width: 49%;
  display: inline-block;
 margin: 0 auto;
}
.nameEvent{
  width: 50%;
  display: none;
  padding: 10px;
}
#nameEventInput{
  border-radius: 5px;
  color:black;
  border: 1px solid white;
}
.nameEvent > button{
  display: block;
  margin: 5px auto;
}
.calendar{
  width: 50%;
  display: none;
  padding:5px;
}
#day{
  border-radius: 5px;
  color:black;
  border: 1px solid white;
}
#startTime{
  border-radius: 5px;
  color:black;
  border: 1px solid white;
}
#endTime{
  border-radius: 5px;
  color:black;
  border: 1px solid white;
}
.whatTime{
  width: 25%;
  display: none;
  padding: 25px;

}
.whatTime > button{
  display: block;
  margin: 5px auto
}
.slider{
  font-size: 12px;
  width: 40%;
  display: none;
  padding: 5px;
}
.slider > button {
  display: inline-block;
  margin: 25px auto;
  margin-bottom: 5px;
}

#sliderInfo{
  position: absolute;
  top: 220px;
  background:coral;
  opacity: 1;
  border-radius: 3px;
  padding:2px;

}
.donebuttons{
  width: 50%;
  display: none;
  margin-top:10px;
  padding: 5px;
  width: 45%;
}

#addEventToDay{
  display:block;
  margin: 20px auto;
  margin-bottom: 20px;
  padding: 5px;

}

#submitPlayList{
  display: block;
  font-size: 12px;
  margin: 0 auto
}
#playlistInWaiting{
  width: 49%;
  float:right;
  text-align: center;
  background-color: #a5a8c3;
  border-radius: 5px;
  margin: 5px 5px;
  color: white;
  font-size: 12px;
  line-height: 1.5em;


}
#activePlayListContianer{
  height: 100%;
  width: 44%;
  display: inline-block;
  float:right;
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 10px;
  padding: 10px;
  overflow: scroll;
  background-color: #494868;

}
.activePlayLists{
  width: 49%;
  display: inline-block;
  float:right;
  text-align: center;
  border: 1px solid black;
}
#addAnotherEvent{
  display:none;
}
#deleteAndStartOverButton{
  margin: 0 auto;
}
.albumImage{
  display: block;
}
.hide{
  display:none;
}


}
.dayDropDownContent{
  width: min-content;
  background-color: #a5a8c3;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
}
.dropDown{
  width: min-content;
  background-color: #a5a8c3;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
}
img{
  width: 100%;
}
img:hover{
  transition-duration: 2s;
  transform: scale(2);
  border-radius: 3px
}
